@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page {
  background-color: #1b1b1b;
}

@supports (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
  .page {
    padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
  .page {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
  .page {
    padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
  .page {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
  }
}

@supports (padding-left: clamp( 0.0000000625rem , -4.597700995rem  +  9.5785438697vw , 3.125rem )) {
  .page {
    padding-left: clamp( 0.0000000625rem , -4.597700995rem  +  9.5785438697vw , 3.125rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -4.597700995rem  +  9.5785438697vw , 3.125rem )) {
  .page {
    padding-left: calc(0.0000000625rem + 3.1249999375 * (100vw - 48rem) / 32.625);
  }
}

@supports (padding-right: clamp( 0.0000000625rem , -4.597700995rem  +  9.5785438697vw , 3.125rem )) {
  .page {
    padding-right: clamp( 0.0000000625rem , -4.597700995rem  +  9.5785438697vw , 3.125rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -4.597700995rem  +  9.5785438697vw , 3.125rem )) {
  .page {
    padding-right: calc(0.0000000625rem + 3.1249999375 * (100vw - 48rem) / 32.625);
  }
}

.page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (row-gap: clamp( 1.875rem , 1.5340909091rem  +  1.7045454545vw , 2.8125rem )) {
  .page__items {
    row-gap: clamp( 1.875rem , 1.5340909091rem  +  1.7045454545vw , 2.8125rem );
  }
}

@supports not (row-gap: clamp( 1.875rem , 1.5340909091rem  +  1.7045454545vw , 2.8125rem )) {
  .page__items {
    row-gap: calc(1.875rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.page__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0rem 0.9375rem;
}

.page__item {
  display: block;
}

.page__image-ibg {
  position: relative;
  padding-bottom: 51%;
  margin-bottom: 0.9375rem;
}

.page__image-ibg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  z-index: 1;
}

.page__image-ibg img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page__plus {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.page__plus::before,
.page__plus::after {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem #fff;
          box-shadow: 0.0625rem 0.0625rem 0.0625rem #fff;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.page__plus::before {
  width: 6.25rem;
  height: 0.0625rem;
}

.page__plus::after {
  width: 0.0625rem;
  height: 6.25rem;
}

.page__title {
  padding: 0rem 0.9375rem;
  line-height: 1.1666666667;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  position: relative;
  display: block;
}

@supports (font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .page__title {
    font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .page__title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.page__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #fff;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

@media (max-width: 75em) {
  .page__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 106.25em) {
  .page__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

@media (max-width: 47.99875em) {
  .page__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }
}

@media (any-hover: hover) {
  .page__item:hover .page__image-ibg::before {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .page__item:hover .page__plus::before,
  .page__item:hover .page__plus::after {
    opacity: 1;
  }

  .page__item:hover .page__title::before {
    width: 100%;
  }
}